<div class="pdp-follow-us">
    <h2>Follow us</h2>
    <div class="social-icons-wrap">
      <a href="{{ settings.social_instagram }}" target="_blank">{% render 'icon' with 'instagram' %}</a>
      <a href="{{ settings.social_facebook }}" target="_blank">{% render 'icon' with 'facebook' %}</a>
      <a href="{{ settings.social_twitter }}" target="_blank">{% render 'icon' with 'twitter' %}</a>
      <a href="{{ settings.social_tiktok }}" target="_blank">{% render 'icon' with 'tiktok' %}</a>
      <a href="{{ settings.social_youtube }}" target="_blank">{% render 'icon' with 'youtube' %}</a>
    </div>
  </div>